@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --bg-color: #ffffff;
  --pic-bg-color: #eef3f8;
  --stroke-color: #e0e6ed;
  --arrow-color1: #4fcf36;
  --arrow-color2: #ee753e;
  --font-color: #272a33;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
html {
  font-size: 16px;
}
h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 1.125rem;
}
p,
a {
  font-size: 1rem;
}
.btn {
  color: var(--bg-color);
  background: var(--font-color);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
  padding: 12px 30px;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s background;
  &:hover {
    background: var(--arrow-color2);
  }
}
.container {
  margin: 0 auto;
  max-width: 1444px;
}
.nav {
  background: var(--bg-color);
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
  &__content {
    display: flex;
    justify-content: space-between;
    padding: 21px 0;
  }
  &__burger-btn,
  &__burger-label {
    display: none;
  }
  &__items {
    display: flex;
    gap: 80px;
    list-style: none;
    align-items: center;
  }
  &__item a {
    color: var(--font-color);
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s color;
    &:hover {
      color: var(--arrow-color2);
    }
  }
}
.advise {
  margin-top: 160px;
  &__title {
    text-transform: uppercase;
    color: var(--font-color);
    margin-bottom: 30px;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  &__card {
    display: flex;
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    &_img {
      background: var(--pic-bg-color);
      border-radius: 8px;
    }
    &_info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 31px 30px;
      .info {
        &__title {
          color: var(--font-color);
        }
        &__availability {
          display: flex;
          align-items: center;
          gap: 10px;
        }
        &__arrow {
          background: var(--arrow-color1);
          width: 14px;
          height: 14px;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &__text {
          font-family: 'Open Sans', sans-serif;
        }
        &__sub {
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: flex-start;
        }
      }
    }
    &-sold {
      .info {
        &__arrow {
          background: var(--arrow-color2);
        }
        &__btn {
          background-color: #d4d4d6;
          &:hover {
            background: #d4d4d6;
          }
        }
      }
    }
  }
  &__btn {
    display: block;
    margin: 30px auto 0;
  }
}
@media screen and (max-width: 1440px) {
  .container {
    max-width: 1160px;
  }
}
@media screen and (max-width: 1160px) {
  .container {
    max-width: 768px;
  }
  .nav {
    border-bottom: 1px solid#eaeff4;
    &__content {
      position: relative;
    }
    &__burger-label {
      display: block;
      width: 50px;
      height: 50px;
      border: 2px solid var(--font-color);
      border-radius: 8px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, calc(-50% - 6px));
        width: 23px;
        height: 2px;
        border-radius: 100%;
        background: var(--font-color);
        transition: 0.3s transform;
      }
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, calc(-50% + 6px));
        width: 23px;
        height: 2px;
        border-radius: 100%;
        background: var(--font-color);
        transition: 0.3s transform;
      }
    }
    .center-line {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scaleX(1);
      width: 23px;
      height: 2px;
      border-radius: 100%;
      background: var(--font-color);
      transition: 0.3s transform;
    }
    &__burger-btn:checked ~ &__burger-label {
      .center-line {
        transform: translate(-50%, -50%) scaleX(0);
      }
      &::before {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
    &__burger-btn:checked ~ &__items {
      transform: scaleY(1);
    }
    &__items {
      border-top: 1px solid#eaeff4;
      overflow: hidden;
      position: absolute;
      flex-direction: column;
      align-items: flex-start;
      gap: 0px;
      top: 100%;
      left: 0;
      width: 100%;
      transform: scaleY(0);
      transform-origin: top;
      transition: 0.3s transform;
      background: var(--bg-color);
    }
    &__item {
      border-bottom: 1px solid #d5dfe9;
      width: 100%;
      padding: 20px 0;
    }
  }
  .advise {
    &__cards {
      grid-template-columns: 1fr;
    }
  }
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.25rem;
  }
  .container {
    max-width: 576px;
  }
}
@media screen and (max-width: 576px) {
  h3 {
    font-size: 1rem;
    font-weight: 400;
  }
  .btn {
    font-size: 1rem;
  }
  .container {
    max-width: 360px;
  }
  .advise {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    &__card {
      flex-direction: column;
      &_img img {
        width: 100%;
      }
      &_info {
        padding: 10px;
        gap: 10px;
        justify-content: space-between;
        height: 100%;
      }
      .info {
        &__title {
          font-size: 0.875rem;
        }
        &__text {
          font-size: 0.875rem;
        }
      }
    }
  }
}
